Repository KusionStack/kusion, pull requests merged in 2022-09, with the labels that each got.

#137 chore: bump kclvm version to v0.4.3-alpha.4
  go.mod
  go.sum
Labels: release

#138 feat: cmd preview and apply support new flag '--ignore-fields'
  pkg/engine/models/spec.go
  pkg/engine/operation/graph/resource_node.go
  pkg/engine/operation/graph/resource_node_test.go
  pkg/engine/operation/models/change.go
  pkg/engine/operation/models/change_test.go
  pkg/engine/operation/models/operation_context.go
  pkg/engine/operation/preview.go
  pkg/kusionctl/cmd/apply/apply.go
  pkg/kusionctl/cmd/apply/options.go
  pkg/kusionctl/cmd/apply/options_test.go
  pkg/kusionctl/cmd/compile/options.go
  pkg/kusionctl/cmd/destroy/options.go
  pkg/kusionctl/cmd/preview/options.go
  pkg/kusionctl/cmd/preview/options_test.go
  pkg/kusionctl/cmd/preview/preview.go
  pkg/kusionctl/cmd/preview/preview_test.go
Labels: feature, cli, engine

#125 feat: add watch step to monitor resource changes for kusion apply
  go.mod
  go.sum
  pkg/engine/operation/watch.go
  pkg/engine/operation/watch_test.go
  pkg/engine/printers/k8s/convertors.go
  pkg/engine/printers/k8s/printers.go
  pkg/engine/printers/table_generator.go
  pkg/engine/runtime/kubernetes_runtime.go
  pkg/engine/runtime/runtime.go
  pkg/kusionctl/cmd/apply/apply.go
  pkg/kusionctl/cmd/apply/options.go
  pkg/kusionctl/cmd/check/check.go
  pkg/kusionctl/cmd/compile/compile.go
  pkg/kusionctl/cmd/preview/preview.go
Labels: feature, cli, runtime
