Repository KusionStack/kusion, pull requests merged in 2022-07, with the labels that each got.

#88 refactor: reorganize states directory
  pkg/engine/models/resource.go
  pkg/engine/models/spec.go
  pkg/engine/operation/apply_test.go
  pkg/engine/operation/destory_test.go
  pkg/engine/operation/graph/resource_node_test.go
  pkg/engine/operation/preview_test.go
  pkg/engine/states/backend.go
  pkg/engine/states/backend_test.go
  pkg/engine/states/local/filesystem_state.go
  pkg/engine/states/local/filesystem_state_test.go
  pkg/engine/states/remote/db_state.go
  pkg/engine/states/remote/db_state_test.go
  pkg/engine/states/remote/http_state.go
  pkg/engine/states/remote/http_state_test.go
  pkg/engine/states/remote/oss_stare_test.go
  pkg/engine/states/remote/oss_state.go
  pkg/engine/states/remote/s3_state.go
  pkg/engine/states/remote/s3_state_test.go
  pkg/kusionctl/cmd/apply/options.go
  pkg/kusionctl/cmd/apply/options_test.go
  pkg/kusionctl/cmd/destroy/options.go
  third_party/pulumi/gitutil/git.go
Labels: optimization, engine

#90 refactor Runtime interface
  pkg/engine/operation/apply.go
  pkg/engine/operation/graph/resource_node.go
  pkg/engine/operation/graph/resource_node_test.go
  pkg/engine/operation/parser/spec_parser.go
  pkg/engine/operation/preview_test.go
  pkg/engine/runtime/kubernetes_runtime.go
  pkg/engine/runtime/runtime.go
  pkg/kusionctl/cmd/apply/options_test.go
  pkg/kusionctl/cmd/destroy/options_test.go
Labels: engine

#91 feat: three way diff, compare live config with dry-run result
  pkg/engine/operation/graph/resource_node.go
  pkg/engine/operation/models/change.go
  pkg/engine/operation/models/change_test.go
  pkg/engine/operation/preview_test.go
  pkg/engine/runtime/kubernetes_runtime.go
  pkg/kusionctl/cmd/apply/options_test.go
  pkg/kusionctl/cmd/destroy/options_test.go
  pkg/util/diff/util.go
  pkg/util/diff/util_test.go
  pkg/util/yaml/yaml.go
Labels: feature, engine

#93 State: add field 'cluster' in State
  pkg/engine/dal/mapper/state.go
  pkg/engine/models/resource.go
  pkg/engine/operation/apply.go
  pkg/engine/operation/models/operation_context.go
  pkg/engine/states/local/filesystem_state.go
  pkg/engine/states/remote/db_state.go
  pkg/engine/states/remote/db_state_test.go
  pkg/engine/states/remote/http_state.go
  pkg/engine/states/remote/http_state_test.go
  pkg/engine/states/state.go
  pkg/kusionctl/cmd/apply/options.go
Labels: state

#97 bugfix: use client side dry-run to be compatible with server side dry-run not support
  pkg/engine/runtime/kubernetes_runtime.go
Labels: runtime

#99 bugfix: yaml.v2 unmarshal json content, make metadata type map[interface{}]interface{}
  pkg/engine/runtime/kubernetes_runtime.go
  pkg/engine/states/local/filesystem_state.go
  pkg/engine/states/remote/db_state.go
  pkg/util/yaml/yaml.go
Labels: state

#94 refator: unify diff util functions, remove dup implements
  pkg/engine/operation/diff.go
  pkg/engine/operation/models/change.go
  pkg/engine/operation/utils/file.go
  pkg/kusionctl/cmd/diff/diff.go
  pkg/kusionctl/cmd/diff/diff_test.go
  pkg/kusionctl/cmd/diff/options.go
  pkg/util/diff/diff.go
  pkg/util/diff/diff_test.go
  pkg/util/diff/util.go
  pkg/util/diff/util_test.go
Labels: optimization

#105 bugfix: stack directory name is map key of Template.StacksConfig
  pkg/scaffold/templates.go
Labels: bug, cli
