Repository KusionStack/kusion, pull requests merged in 2023-01, with the labels that each got.

#207 feat: bump kclvm version and support kclvm windows artifact.
  .github/workflows/release.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: release

#211 fix makefile
  .github/workflows/e2e-test.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  Dockerfile
  Makefile
  hack/run-e2e.sh
Labels: ci/release, ci/e2e, area/release

#208 check if the provider hash or version has changed
  pkg/engine/runtime/terraform/tfops/workspace.go
Labels: area/engine, runtime/terraform

#210 use goreleaser to release tarballs and docker image
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yml
  Dockerfile
  pkg/version/.gitignore
Labels: ci/release, area/release

#214 chore: bump dockerfile base image to ubuntu:22.04
  Dockerfile
  Dockerfile_kusionctl
Labels: ci/release

#221 update tf runtime workspace in stack dir
  pkg/engine/runtime/terraform/terraform_runtime.go
  pkg/engine/runtime/terraform/terraform_runtime_test.go
  pkg/engine/runtime/terraform/tfops/store.go
  pkg/engine/runtime/terraform/tfops/store_test.go
  pkg/engine/runtime/terraform/tfops/workspace.go
  pkg/engine/runtime/terraform/tfops/workspace_test.go
Labels: runtime/terraform

#226 Update Makefile
  Makefile
Labels: kind/bug
