Repository KusionStack/kusion, pull requests merged in 2023-02, with the labels that each got.

#202 feat: support vault as secret store
  go.mod
  go.sum
  pkg/engine/operation/apply.go
  pkg/engine/operation/graph/resource_node.go
  pkg/engine/operation/models/operation_context.go
  pkg/engine/operation/parser/spec_parser.go
  pkg/engine/operation/preview.go
  pkg/kusionctl/cmd/apply/options.go
  pkg/kusionctl/cmd/preview/options.go
  pkg/projectstack/types.go
  pkg/vals/doc.go
  pkg/vals/secret_stores.go
  pkg/vals/vals.go
Labels: kind/feature, area/cli

#220 support provider log output
  pkg/engine/runtime/terraform/tfops/workspace.go
Labels: runtime/terraform

#201 Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/optimization

#235 fix tf runtime concurrent execution
  pkg/engine/runtime/terraform/terraform_runtime.go
  pkg/engine/runtime/terraform/terraform_runtime_test.go
Labels: kind/bug, runtime/terraform

#231 feat: support scoop install for windows
  .goreleaser.yml
Labels: ci/release, kind/feature, area/release

#236 Auto import resources exist in spec and live cluster but no recorded in Kusion
  pkg/cmd/apply/options_test.go
  pkg/cmd/destroy/options_test.go
  pkg/cmd/preview/options_test.go
  pkg/engine/operation/apply_test.go
  pkg/engine/operation/destory_test.go
  pkg/engine/operation/graph/resource_node.go
  pkg/engine/operation/graph/resource_node_test.go
  pkg/engine/operation/preview_test.go
  pkg/engine/operation/watch_test.go
  pkg/engine/runtime/init/init.go
  pkg/engine/runtime/kubernetes/kubernetes_runtime.go
  pkg/engine/runtime/kubernetes/testdata/live_service.yaml
  pkg/engine/runtime/kubernetes/testdata/live_service_import_result.yaml
  pkg/engine/runtime/kubernetes/testdata/live_service_with_last_applied_annotation.yaml
  pkg/engine/runtime/kubernetes/testdata/plan_service.yaml
  pkg/engine/runtime/kubernetes/testdata/service.yaml
  pkg/engine/runtime/runtime.go
  pkg/engine/runtime/terraform/terraform_runtime.go
Labels: kind/feature, area/runtime

#238 feat: watch support kubevela Application from core.oam.dev/v1beta1
  pkg/engine/operation/watch.go
  pkg/engine/printers/convertor.go
  pkg/engine/printers/k8s/convertors.go
  pkg/engine/printers/k8s/printers.go
  pkg/engine/printers/kubevela/convertor.go
  pkg/engine/printers/kubevela/printers.go
  pkg/engine/printers/table_generator.go
  third_party/kubevela/doc.go
  third_party/kubevela/kubevela/apis/common/deepcopy_generated.go
  third_party/kubevela/kubevela/apis/common/register.go
  third_party/kubevela/kubevela/apis/common/types.go
  third_party/kubevela/kubevela/apis/condition/deepcopy_generated.go
  third_party/kubevela/kubevela/apis/condition/types.go
  third_party/kubevela/kubevela/apis/v1beta1/application_types.go
  third_party/kubevela/kubevela/apis/v1beta1/deepcopy_generated.go
  third_party/kubevela/kubevela/apis/v1beta1/register.go
  third_party/kubevela/workflow/api/v1alpha1/deepcopy_generated.go
  third_party/kubevela/workflow/api/v1alpha1/types.go
Labels: kind/feature

#243 enhancement: ignore field support slice type
  pkg/engine/operation/graph/resource_node.go
  pkg/engine/operation/graph/resource_node_test.go
Labels: kind/enhancement

#245 chore: use golangci-lint github action instead if manual download
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Labels: area/testing, kind/cleanup

#240 use reflect pkg to break the limit of for-range by dynamic select/case
  pkg/engine/operation/watch.go
  pkg/engine/printers/table.go
Labels: area/engine, kind/enhancement

#254 polish README.md
  README-zh.md
  README.md
Labels: kind/documentation

#252 bugfix: kusion watch has no pod details
  go.mod
  go.sum
  pkg/cmd/apply/options.go
  pkg/cmd/apply/options_test.go
  pkg/cmd/destroy/options_test.go
  pkg/cmd/preview/options_test.go
  pkg/engine/operation/watch.go
  pkg/engine/operation/watch_test.go
  pkg/engine/printers/table.go
  pkg/engine/runtime/kubernetes/kubernetes_runtime.go
  pkg/engine/runtime/runtime.go
  pkg/engine/util.go
  pkg/generator/kcl/util.go
Labels: kind/bug, area/cli, runtime/k8s

#257 chore: refactor printers code structure
  pkg/engine/operation/watch.go
  pkg/engine/printers/convert.go
  pkg/engine/printers/convertor/k8s_convertor.go
  pkg/engine/printers/convertor/oam_convertor.go
  pkg/engine/printers/generate.go
  pkg/engine/printers/printer/k8s_printer.go
  pkg/engine/printers/printer/oam_printer.go
  pkg/engine/printers/printer/table_generator.go
  pkg/engine/runtime/kubernetes/kubernetes_runtime.go
Labels: kind/bug, area/engine

#261 add brew dependencies
  .goreleaser.yml
Labels: ci/release
